/* h1 {
    color:blueviolet;
    background-color:blue; 

}

body {
    border: 0cqmax;
    background-color: rgb(228, 255, 205);
}

botton{
    background-color:aquamarine;
    color: black;
} */
.para {
    color: beige;
    background-color: aquamarine; 
}
.newclass {
    background-color: black;
}